<div class="jumbotron">
  <h2>Upcoming Meeting</h2>
  <p>TLS WG is holding a meeting during IETF 97 from November 13 - 18 in 2016 in Seoul, South Korea.</p>
</div>


<div class="container-fluid">
  <div class="row">
<?--    <div class="col-md-4">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/HTTP_2" data-widget-id="434108514856755201">Tweets by @HTTP_2</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div> -->
  </div>
</div>

