<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/assets/img/TLS-Badge-Files/svg/TLS-Badge-Horizontal-BW-RGB.svg" height="23" />
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li class="dropdown">
            <a href="https://github.com/tlswg/tlswg-wiki/blob/master/OVERVIEW.md">Overview</a>
            <a href="https://datatracker.ietf.org/wg/tls/documents/">Documents</a>
            <a href="https://github.com/tlswg/tlswg-wiki/blob/master/IMPLEMENTATIONS.md">Implementations</a>
            <a href="https://github.com/tlswg/tlswg-wiki/blob/master/RESEARCH.md">Research</a>
          </li>
        </ul>
      </li>

      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">FAQ</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Participate<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/tlswg/wiki/blob/master/CONTRIBUTING.md">Contribution Policy</a></li>
            <li><a href="https://datatracker.ietf.org/wg/tls/charter/">WG Charter</a></li>
            <li><a href="https://mailarchive.ietf.org/arch/browse/tls/">Group Mailing List</a></li>
            <li><a href="https://github.com/tlswg/wg-materials">Meeting Materials</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
